# To get these values, create a new project in the Supabase dashboard, click on connect
# Select App Frameworks, Select React as Framework, Select Using Vite and copy the values here
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_MAIN_URL=https://shipstation.ai

 # For .env.local only. For .env.production, change this to the URL of the live node.js server
VITE_BACKEND_URL=http://localhost:3000/api
VITE_SOCKET_URL=http://localhost:3000

VITE_MYPROFILE_URL=https://myprofile.live
