<div
  id="loaderOverlay"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-90 backdrop-filter backdrop-blur-md hidden"
>
  <button
    id="closeLoadingOverlayBtn"
    class="absolute top-4 right-4 text-gray-400 hover:text-gray-200 transition-colors duration-300 z-20"
  >
    <i data-lucide="x-circle" class="w-10 h-10"></i>
  </button>
  <div class="text-center">
    <div id="lottieAnimation" class="w-64 h-64 mx-auto"></div>
    <p class="text-2xl font-semibold mt-6 text-white" id="loaderText">
      Generating your website...
    </p>
  </div>
</div>
