<div id="ship-form" class="hidden">
  <h1 class="text-2xl md:text-5xl font-bold mb-4 text-center">
    What will you ship today?
  </h1>
  <div class="w-full max-w-3xl relative mb-6">
    <textarea
      id="user-input"
      rows="6"
      class="w-full p-4 pr-12 sm:text-lg border-2 border-cerulean rounded-lg focus:outline-none focus:border-berkeley-blue resize-none shadow-md bg-dark-surface text-dark-on-surface"
      placeholder=""
    ></textarea>
  </div>
  <button
    id="generateButton"
    class="bg-cerulean hover:bg-berkeley-blue text-white font-bold py-4 px-8 rounded-full transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-berkeley-blue focus:ring-opacity-50 flex items-center space-x-3 disabled:opacity-50 disabled:cursor-not-allowed text-lg"
  >
    <span>Start shipping</span>
    <i data-lucide="rocket" class="w-6 h-6"></i>
  </button>
</div>
