<div id="ship-form" class="hidden">
  <h1 class="text-2xl md:text-5xl font-bold mb-4 text-white">
    What will you ship today?
  </h1>
  <div class="w-full relative mb-6">
    <textarea
      id="user-input"
      rows="6"
      class="w-full max-w-full lg:max-w-3xl lg:mx-auto p-4 pr-12 sm:text-lg border-2 border-gray-700 rounded-lg focus:outline-none focus:border-gray-500 resize-none shadow-md text-white"
      placeholder=""
    ></textarea>
  </div>
  <div class="flex justify-center">
    <button
      id="generateButton"
      class="bg-white hover:bg-gray-200 text-black font-bold py-4 px-8 rounded transition duration-300 ease-in-out transform focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 flex items-center space-x-3 disabled:opacity-50 disabled:cursor-not-allowed text-lg w-full sm:w-auto justify-center"
    >
      <span>Ship it!</span>
      <i data-lucide="ship" class="w-6 h-6"></i>
    </button>
  </div>
  <dialog-component></dialog-component>
</div>
